@import "tailwindcss";


:root {
  --primary: #347433;
  --primary1: #032E14;
  --primary2: #FF6F3C;
  --primary3: #FFC107;
  --primary4: #B22222;
}


/* Custom selection styles */
body::selection {
  background-color: #B22222; /* yellow */
  color: #FFC107; /* green */
}

/* For Firefox */
::-moz-selection {
  background-color: #FFD700;
  color: #008000;
}
